<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.usersystem.mapper.CaseInfoMapper">

    <resultMap id="BaseResultMap" type="org.usersystem.entity.CaseInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="caseId" column="caseId" jdbcType="VARCHAR"/>
        <result property="registerId" column="registerId" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="VARCHAR"/>
        <result property="staffId" column="staffId" jdbcType="VARCHAR"/>
        <result property="userIllness" column="userIllness" jdbcType="VARCHAR"/>
        <result property="medicList" column="medicList" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="totalPrice" jdbcType="DECIMAL"/>
        <result property="payStatus" column="payStatus" jdbcType="VARCHAR"/>
        <result property="feedBack" column="feedBack" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,caseId,registerId,
        userId,staffId,userIllness,
        medicList,totalPrice,payStatus,
        feedBack,createTime
    </sql>

    <update id="addFeedBackByRegisterId">
        update caseInfo
        set feedBack = #{feedBack}
        where registerId = #{registerId}
    </update>
</mapper>
