<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.usersystem.mapper.StaffInfoMapper">

    <resultMap id="BaseResultMap" type="org.usersystem.entity.StaffInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="staffId" column="staffId" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="staffName" column="staffName" jdbcType="VARCHAR"/>
        <result property="staffSex" column="staffSex" jdbcType="VARCHAR"/>
        <result property="staffTel" column="staffTel" jdbcType="VARCHAR"/>
        <result property="staffPos" column="staffPos" jdbcType="VARCHAR"/>
        <result property="staffEntry" column="staffEntry" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,staffId,password,
        staffName,staffSex,staffTel,
        staffPos,staffEntry,createTime
    </sql>
</mapper>
